@media screen and (min-width: 1000px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    body{
        font-family: 'Barlow', sans-serif;
        font-family: 'Barlow Condensed', sans-serif;
    }
    main{
        overflow: hidden;
        background-image: white;
        .container{
            width: 100vw;
            height: 100vh;
            position: relative;
            margin-bottom: 3rem;
            .header{
                margin: 3rem 10rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 999;
                .hamburger{
                    display: none;
                }
                .hide{
                    display: none;
                }
                .logo{
                    img{
                        width: 100%;
                    }
                }
                .navbar-menu{
                    width: 100%;
                    top: 1px;
                    position: static;
                    display: block;
                    z-index: 999;
                    
                    .close{
                        display: flex;
                        justify-content: end;
                        display: none;
                    }
                    .menu-box{
                        padding: 0rem;
                        text-align: center;
                        margin-top: 0rem;
                        box-shadow: none;
                        background-color: transparent;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        .menu-item{
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: uppercase;
                            padding: 0.5rem 1rem;
                            letter-spacing: 1px;
                            color: #222842;
                        }
                        hr{
                            width: 95%;
                            border: 1px solid rgb(235, 235, 235);
                            margin: 1rem 0rem;
                            display: none;
                        }
                        .circle{
                            display: block;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #81868c;
                            display: flex;
                            align-items: center;
                            margin:0rem 1rem;

                        }
                        .menu-login{
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: uppercase;
                            padding: 0.5rem 1rem;
                            letter-spacing: 1px;
                            color: #81868c;
                        }
                        .menu-item:hover{
                            text-decoration: underline;
                        }
                        .menu-login:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .show{
                    display: block;
                }
            }
            .content-wrapper{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: flex-start;
                margin: 8rem 10rem;
                .banner{
                    width: 60%;
                    z-index: 555;
                    padding: 0rem 0rem;
                    overflow: hidden;
                    img{
                        width: 100%;
                     }
                }
                .text-box{
                    width: 40%;
                    margin: 2rem 0rem;
                    .top{
                        margin: 1rem 0rem;
                        display: flex;
                        align-items: center;
                        .new{
                            margin-right: 1rem;
                            padding: 0.2rem 0.7rem;
                            background-color: #222842;
                            color: white;
                            font-size: 16px;
                            font-weight: 700;
                            border-radius: 2rem;
                        }
                        .dashboard{
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0.3rem;
                            color: #bbbbc0;
                        }
                    }
                    .middle{
                        h1{
                            font-size:60px;
                            color: #222842;
                            text-transform: uppercase;
                            line-height: 4rem;
                            
                            span{
                                display: block;
                                overflow: hidden;
        
                            }
                        }
                        p{
                            font-family: 'Barlow', sans-serif;
                            font-size: 18px;
                            margin-top: 0rem;
                            margin: 2rem 0rem;
                            color: #7d7d7d;
                            margin-right: 1rem;
                            span{
                                display: block;
                            }
        
                        }
                    }
                    .bottom{
                        margin-top: 1rem;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        .schedule-btn{
                            text-align: center;
                            background-color: #ff5d5e;
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 700;
                            color: white;
                            padding: 0.9rem 2rem;
                            border-radius: 0.3rem;
                            letter-spacing: 1px;
                            margin-right: 2rem;
                        }
                        .schedule-btn:hover{
                            background-color: #ff8584;
                        }
                        .preview-btn{
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 400;
                            letter-spacing: 4px;
                            color: #bbbbc0;
                            padding: 0.7rem 0.5rem;
                        }
                    }
                }
            }
            
            .background{
                width: 70%;
                height: 500px;
                background-color: #edf2f6;
                border-radius: 4rem;
                position: absolute;
                top: -150px;
                right: -280px;
                z-index: -1;
            }
        }
        
    }
}